.slds-card {
    margin-bottom: 20px;
}

.slds-box {
    font-family: monospace;
    white-space: pre-wrap;
    text-align: left;
}

.slds-grid img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.slds-grid img:hover {
    transform: scale(1.05);
}